body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  width: 99vw;
  height: 100vh;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-header {
  text-align: center;
  background-color: #128C7E;
  color: white;
  width: 100%;
}

.app-container {
  margin-top: 10px;
}

.room {
  display: flex;
  flex-direction: column;
}
.msg-image{
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 5px;
 
}
.room label {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

.room input {
  width: 200px;
  height: 30px;
  border: 2px solid #3b9860;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}


.room button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: #025418;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  
}

.room button:hover {
  background-color: #013a10;
  transform: scale(1.05);
}

.sign-out {
  margin-top: 20px;
  text-align: center;
}

.sign-out button {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
 
}

.sign-out button:hover {
  background-color: #128C7E;
}